#footer {
	width: 100%;
	height: 20vh;
	line-height: 20vh;
	background-color: grey;
}
#footer .content {
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	text-align-last: justify;
}
#footer .content .inline {
	display: inline-block;
}
#footer .content .inline a {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: red;
	vertical-align: middle;
}
#footer .content .inline .cyan {
	padding: 20px 30px;
	border-radius: 35px;
	border: none;
	outline: none;
	background-color: #01BABA;
}