#footer {
	width: 100%;
	height: 20vh;
	background-color: #05151F;
	color: white;
	user-select: none;
}
#footer .content {
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	text-align-last: justify;
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%);
}
#footer .content .inline {
	display: inline-block;
	font-size: 18px;

}
#footer .content .inline a {
	display: inline-block;
	margin: 20px;
	vertical-align: middle;
}
#footer .content .inline .cyan {
	cursor: pointer;
	padding: 20px 30px;
	border-radius: 35px;
	border: none;
	outline: none;
	background-color: #01BABA;
	color: white;
	font-size: 20px;
	font-weight: bold
}
#footer .content .inline .cyan:hover {
	background-color: #04d9d9;
}