#header {
	width: 100%;
	height: 100vh;
	position: relative;
	color: white;
} 

#header #header-content {
	position: absolute;
	top: 10%;
	height: 70%;
	width: 100%;
	text-align: center;

}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/backgroundHeader.jpeg);
    background-size: 100%;
    box-shadow:0 0 0 1000px rgba(4, 32, 48, 0.6) inset;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: 0.85;
}

#header .logo {
	margin: 0px auto;
	width: 150px;
	height: 150px;
	line-height: 150px; 		/*--------*/
	border-radius: 50%; 		/*--------*/	
}
#header .h1 {
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-size: 110px;
	color: transparent;
	-webkit-text-stroke: 2px white;
}
#header .text {
	width: 100%;
	font-size: 30px;
	text-align: center;
}
#header .yellow {
	margin-top: 50px;
	padding: 20px 45px;
	font-size: 20px;
	border-radius: 30px;
	border: none;
	background-color: yellow; 	/*--------*/
	cursor: pointer;
	outline: none;
	color: #184F6E;
	font-weight: bold;
}

#header .yellow:hover {
	background-color: #f0e824;
}