#metrika {
	width: 100%;
	height: 45vh;
	position: relative;
	background-color: white;
} 

.frame {
	margin-top: -80px;
	width: 600px;
}

#metrika .text {
	width: 30%;
	height: 60%;
	left: 10%;
	top: 30px;
	position: absolute;
	color: #184F6E;
}
	#metrika .text .text-main {
		font-size: 50px;
		font-weight: 600;
		line-height: 1.2;
		text-transform: uppercase;
	}
	#metrika .text .text-sub {
		margin-top: 10px;
		font-size: 20px;
	}
#metrika .elements {
	width: 55%;
	height: 50%;
	top: 30px;
	position: absolute;
	left: 45%;
}
#metrika .elements .elem-title {
	height: 30%;
	color: #8D8D8D;
}
#metrika .elements .progress-bar-container {
	height: 40%;
}
#metrika .elements .progress-bar {
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 500px;
	background: linear-gradient(to right, #5AE170 0%, #5AE170 0%, white 0%, white 100%);
	border: solid 1px grey;
}
#metrika .elements .cyan {
	padding: 25px 40px;
	border-radius: 50px;
	border: none;
	outline: none;
	color: white;
	font-weight: 600;
	font-size: 20px;
	background-color: #01BABA;
	cursor: pointer;
}

#metrika .elements .cyan:hover {
	background-color: #04d9d9;
}